.colophon {
  margin-top: grid-height(-1) + -8px;
}
  a {
    @extend .copyright;
    padding-bottom: 1px;
    &:hover {
      border-bottom: 1px solid $white;
    }
  }
  .copyright {
    color: $white;
    font-size: em(15);
  }
  .site-info {
    font-size: em(15);
    position: absolute;
    right: 0;
    top: 0
  }