.colophon {
  margin-top: grid-height(-1) + -8px;
  @media screen and (max-width: 600px) {
    background: $brand-color;
    margin-top: 0;
    padding-top: grid-height(1);
  }
}
  a {
    @extend .copyright;
    padding-bottom: 1px;
    &:hover {
      border-bottom: 1px solid $white;
    }
  }
  .copyright {
    color: $white;
    font-size: em(15);
  }
  .site-info {
    font-size: em(15);
    position: absolute;
    right: 0;
    top: 0;
    @media screen and (max-width: 600px) {
      margin-top: 12px;
      position: relative;
      right: auto;
      top: auto;
    }
  }
    .footer-nav {
      padding-left: 0;
    }