.hero {
  background: url('../images/hero-bg.jpg') no-repeat center center;
  background-size: cover;
  color: $white;
  margin-bottom: grid-height(4);
  min-height: grid-height(18);
  padding-top: grid-height(6);
  text-align: center;
  @media screen and (max-width: 700px) {
    margin-bottom: grid-height(2);
    min-height: grid-height(15);
    padding-bottom: grid-height(1);
  }
  @media screen and (max-width: 480px) {
    background: url("../images/hero-bg.jpg") no-repeat right bottom;
    background-size: cover;
  }

  .bound {
    max-width: grid-calc(8);
  }
}