.hero {
  background: url('../images/hero-bg.jpg') no-repeat center center;
  background-size: cover;
  color: $white;
  margin-bottom: grid-height(4);
  min-height: grid-height(18);
  padding-top: grid-height(6);
  text-align: center;

  .bound {
    max-width: grid-calc(8);
  }
}