// global nav - default state
.global {
  margin: grid-height(1) 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  &.fixed { display: none;}
}
  .logo { 
    display: block; 
    position: absolute;
    left: 0;
  }
  .global-nav {
    list-style: none;
    margin: 0;
    position: absolute;
    right: 0;
  }
    .nav-item { 
      display: inline-block;
      margin-left: 58px;
      @media screen and (max-width: 1000px) {
        display: none;
      }
      a:not(.btn_outline_white) {
        color: $white;
        display: inline-block;
        font-size: em(16);
        line-height: 1em;
        padding-bottom: 2px;
        &:hover {
          border-bottom: 1px solid $white;
        }
      }
    }
    .mobile-nav {
      display: none;
      @media screen and (max-width: 1000px) {
        display: block;
      }
    }

.footer-nav {
  display: inline-block;
  list-style: none;
  margin: 0;
  li {
    display: inline-block;
    margin-left: 18px;
    @media screen and (max-width: 600px) {
      margin: 0 18px 0 0;
    }
  }
}
