// Color Variables
$white                : #FFF;
$pale-gray            : #FAFAFA;
$light-gray           : #E6E6E6;
$dark-gray            : #25282C;
$black                : #181818;

$brand-color          : #448AC9;
$brand-color-light    : #94CDFF;
$brand-color-bright   : #63B5FF;
$accent-color         : #7ED321;


// Media Query variables
$bp-med         : 580px;
$bp-large       : 1024px;

// Grid variables
$grid-col       : 5em;
$grid-gutter    : 1.375em;
$grid-height    : 32px;