doctype html
html.no-js
  head
    // Page metadata
    meta(charset='utf-8')
    title Simplenote - Write on any device and keep everything in sync.
    meta(name='description', content='The simplest way to keep notes. Light, clean, and free. Simplenote is now available for iOS, Android, Mac, and the web.')
    link(rel='shortcut icon', href='/favicon.ico')
    // TODO: Add Apple Touch Icons

    // Set our viewport
    meta(name='viewport', content='width=device-width, initial-scale=1')

    // Open Graph and Twitter Metadata
    meta(property='og:type', content='website')
    meta(property='og:title', content='Simplenote')
    meta(property='og:url', content='http://simplenote.com/')
    meta(property='og:site_name', content='Simplenote')
    meta(property='og:image', content='http://1.gravatar.com/blavatar/9843ab63967c3f657639b539df0b7ac0?s=200&ts=1443295850')
    meta(property='og:image:width', content='200')
    meta(property='og:image:height', content='200')
    meta(property='og:locale', content='en_US')
    meta(name='twitter:site', content='@simplenoteapp')
    meta(name='twitter:image', content='http://1.gravatar.com/blavatar/9843ab63967c3f657639b539df0b7ac0?s=240')
    meta(name='twitter:card', content='app')
    meta(name='twitter:description', content='The simplest way to keep notes. Light, clean, and free. Simplenote is now available for iOS, Android, Mac, and the web.')
    meta(property='article:publisher', content='https://www.facebook.com/WordPresscom')
    meta(name='twitter:app:name:iphone', content='Simplenote')
    meta(name='twitter:app:id:iphone', content='289429962')
    meta(name='twitter:app:name:ipad', content='Simplenote')
    meta(name='twitter:app:id:ipad', content='289429962')
    meta(name='twitter:app:name:googleplay', content='Simplenote')
    meta(name='twitter:app:id:googleplay', content='com.automattic.simplenote')
    meta(name='twitter:creator', content='@simplenoteapp')

    // build:css(.) styles/vendor.css
    // bower:css
    link(rel="stylesheet", href="bower_components/slick-carousel/slick/slick.css")
    // endbower
    // endbuild
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,300')
    // build:js scripts/vendor/modernizr.js
    script(src='bower_components/modernizr/modernizr.js')
    // endbuild
  body
    header.hero
      .bound
        h1.tagline The simplest way to write on any device and keep everything in sync.
        a.btn_large_blue(href="https://app.simplenote.com/signup") Get started free
    hr
    #features
      section#simplicity.feature
        .bound
          h2.heading Only the features you need.
          p.prose Simplenote is designed to get out of the way so you can be more productive. We’ve emphasized speed and clarity, creating a beautiful writing app with zero bloat. Let your thoughts flow, free of distractions.
        img(src="images/app-ui-dark.png", alt="Writing on Simplenote for Mac")
        video(src="images/app-ui-dark.mp4", autoplay="true")
      hr
      section#sync.feature
        .bound
          h2.heading Sync notes across all your devices.
          p.prose From the start, Simplenote was built with sync in mind. Type a note on your iPhone, watch it magically update on your Mac. Simplenote elegantly handles the compexity of managing updates and saving versions, so you can write with confidence.
        picture
          source(media="(min-width: 601px)", srcset="images/feature-sync.svg", alt="With Simplenote, sync just works.")
          img(src="images/feature-sync-stacked.svg", alt="With Simplenote, sync just works.")
      hr
      section#organized.feature
        img(src="images/app-ui-light.png", alt="Searching and tagging notes is fast and easy with Simplenote.")
        video(src="images/app-ui-light.mp4", autoplay="true")
        .bound
          h2.heading Stay organized.
          p.prose With instantaneous search, tags and full version history on each note, finding notes and keeping all of your work in order is a breeze. 
      hr
    section.users
      .bound
          h2.heading_light_caps Users Love Simplenote.
      .slider
        .slider_item.mullenweg
          .overlay
          .bound
            blockquote.testimonial
              p.quote I write almost everything in Simplenote, just because it’s so uncluttered. I love that it syncs across my devices too.
              cite.source Matt Mullenweg, Founder @ Automattic
        .slider_item.koenig
          .overlay
          .bound
            blockquote.testimonial
              p.quote I write almost everything in Simplenote, just because it’s so uncluttered. I love that it syncs across my devices too.
              cite.source Sarah Koenig, Host of Serial
        .slider_item.gruber
          .overlay
          .bound
            blockquote.testimonial
              p.quote I write almost everything in Simplenote, just because it’s so uncluttered. I love that it syncs across my devices too.
              cite.source John Gruber, Daring Fireball
    hr
    section#apps.native-apps.feature
      .bound
        h2.heading Take Simplenote with you.
        p.prose No matter what device you write on, we’ve got you covered. Simplenote offers a gorgeous web app for any device, as well as native apps for iOS, Android and Mac.
        img.apps-image(src="images/native-apps.png", alt="Simplenote has native apps for iOS, Android and Mac.")
        .get-simplenote
          ul.links_app-download
            li: a.btn_blue.android(href="https://play.google.com/store/apps/details?id=com.automattic.simplenote") 
              span
                img.btn_icon.android(src="images/icon-android.svg")
                | Android
            li: a.btn_blue.mac(href="https://itunes.apple.com/us/app/simplenote/id692867256?ls=1&mt=12")
              span
                img.btn_icon.mac(src="images/icon-mac.svg")
                | Mac
            li: a.btn_blue.ios(href="https://itunes.apple.com/app/simplenote/id289429962")
              span
                img.btn_icon.ios(src="images/icon-ios.svg")
                | iOS
          p.web
            span.callout Or use Simplenote on the web, on any device.
            a.btn_green.arrow(href="https://app.simplenote.com/signin")
              span
                | Sign in to Simplenote
                img.btn_icon(src="images/icon-arrow.svg")
    section.free-forever
      .bound
        h2.heading_light_emphasized Free, forever.
        p.prose_light_emphasized Simplenote is powered by Automattic, the company behind WordPress. Simplenote is well-supported, regularly updated, and we're committed to having Simplenote be free forever.
        a.btn_large_blue(href="https://app.simplenote.com/signup") Sign up for free
    hr
    nav.global(role="navigation")
      a.logo(href="http://simplenote.com/")
        img(src="images/logo.svg", alt="Simplenote")
      ul.global-nav
        li.nav-item: a(href="#features") Features
        li.nav-item: a(href="#apps") Apps
        li.nav-item: a(href="http://simplenote.com/help/") Support
        li.nav-item: a(href="http://simplenote.com/blog/") Blog
        li.nav-item.sign-in: a(href="https://app.simplenote.com/signin") Sign in
        li.nav-item.sign-up: a.btn_outline_white(href="https://app.simplenote.com/signup") Create an account
        li.nav-item.mobile-nav: img.icon-menu(src="images/icon-menu.svg")
    nav.global.fixed(aria-hidden="true", role="navigation")
      img.icon-close(src="images/icon-close.svg")
      ul.global-nav
        li.nav-item: a(href="#features") Features
        li.nav-item: a(href="#apps") Apps
        li.nav-item: a(href="http://simplenote.com/help/") Support
        li.nav-item: a(href="http://simplenote.com/blog/") Blog
        li.nav-item.sign-in: a(href="https://app.simplenote.com/signin") Sign in
        li.nav-item.sign-up: a.btn_outline_white(href="https://app.simplenote.com/signup") Create an account
    footer.colophon
      .bound
        .copyright
          | © 2015 
          a(href="http://automattic.com") Automattic
        nav.site-info(role="navigation")
          ul.footer-nav
            li: a(href="") Help
            li: a(href="") Contact Us
            li: a(href="") Blog
            li: a(href="") Developers
            li: a(href="") Terms
            li: a(href="") Privacy

    // build:js(.) scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/slick-carousel/slick/slick.js')
    // endbower
    // endbuild
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    // build:js({app,.tmp}) scripts/main.js
    script(src='scripts/main.js')
    // endbuild
